@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
body {
  overflow-x: hidden;
  background: url("../background.jpg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  width: 85vw;
  gap: 20px;
  margin-inline: auto;
}
.container-blocks {
  border: solid 0.2px rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin-block: 10px;
  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.4) 20px,
    rgba(255, 255, 255, 0.1) 10%
  );
  backdrop-filter: blur(7px);
  box-shadow: 5px 5px 6px 0 black;
  border-radius: 0 8px 8px 8px;
}
.container-blocks div {
  border-bottom: solid 0.4px rgb(168, 168, 168);
  display: flex;
  justify-content: space-between;
}

.container-blocks h1 {
  font-size: 18px;
  padding: 10px;
}
.container-blocks p {
  font-size: 16px;
  padding: 10px;
}
form {
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 10px 0;
  background: white;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  padding: 8px;
  gap: 10px;
}
form textarea {
  font-size: 1.1em;
  border: none;
  outline: none;
  padding: 10px;
  min-height: 80px;
  resize: none;
}
form input {
  font-size: 1.1em;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: solid 0.7px rgb(22, 22, 22);
}
form button {
  background-color: rgb(32, 179, 40);
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin: 4px 7px;
  color: white;
  cursor: pointer;
}
form button:hover {
  filter: brightness(0.9);
}
p {
  color: white;
}
.pergunta {
  margin-top: 30px;
  transform: scale(1.08);
}
